# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/client/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


#server

/server/.gradle
/server/build/
/server/!gradle/wrapper/gradle-wrapper.jar

### STS ###
/server/.apt_generated
/server/.classpath
/server/.factorypath
/server/.project
/server/.settings
/server/.springBeans

### IntelliJ IDEA ###
/server/.idea
/server/*.iws
/server/*.iml
/server/*.ipr

### NetBeans ###
/server/nbproject/private/
/server/build/
/server/nbbuild/
/server/dist/
/server/nbdist/
/server/.nb-gradle/
/server/bin/

